

$background-color: white;
$main-font-color: black;
$main-font-family: 'Open Sans', sans-serif;



// colors
$wgu-text-blue: #327da9;
$wgu-blue: #003057;


// box-shadows
$button-box-shadow: 0 0 5px rgba(10, 10, 10, 0.3)
