

// bootstrap imports
@import 'bootstrap/bootstrap-grid.scss';
@import 'bootstrap/mixins';

@import 'bootstrap/type';
@import 'bootstrap/tables';




// custom imports
@import 'variables';
@import 'mixins';

// page imports
@import 'pages/course_list';
@import 'pages/degree_list';


body {
    background: $background-color;
    font-family: $main-font-family;
    margin: 0;
    padding: 0;
    color: $wgu-blue;
    font-size: 62.5%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    a {
        color: $wgu-text-blue;
    }
}

h1 {
    font-size: 3.2em;
}
h2 {
    font-size: 2.8em;
}
h3 {
    font-size: 2.4em;
}
h4 {
    font-size: 2.2em;
}
h5 {
    font-size: 1.8em;
}
h6 {
    font-size: 1.6em;
}

p {
    font-size: 1.3em;
}

a {
    font-size: 1.4em;
}


// utility classes
.clearfix {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}
.clear-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}

.text-align-center {
    text-align: center;
    margin: 0 auto;
}


// universal css

input[type=checkbox] {
    appearance: none;
    -webkit-appearance: none;
    padding: 6px;
    background-color: rgb(243, 243, 243);
    border: solid 1px rgb(148, 147, 147);
    display: inline-block;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 1px 1px rgba(0, 0, 0, 0.1);
    &:focus {
        outline: 1px solid $wgu-text-blue;
    }
    &:checked {
        position: absolute;
        top: 0;
        left: 0;
        position: relative;
        color: $wgu-text-blue;
        &:after {
            content: '\2714';
            font-size: 14px;
            position: absolute;
            top: -2px;
            left: 1px;
        }
    }
}

.link-button {
    padding: 10px 15px;
    background: green;
    border: none;
    color: white;
    box-shadow: $button-box-shadow;
    text-decoration: none;
    display: inline-block;
}

.form-button {
    padding: 10px 15px;
    background: green;
    border: none;
    color: white;
    box-shadow: $button-box-shadow;
    text-decoration: none;
}


// main css

#main-content {
    padding: 20px 0 20px;
    flex: 1;
}



#home-jumbotron {
    background: $wgu-text-blue;
    padding: 20px 0 20px;
    color: white;
}


#nav-bar {
    margin: 0;
    padding: 20px 0;
    background-color: white;
    border-bottom: 7px solid $wgu-blue;
    a {
        color: $wgu-text-blue;
        text-decoration: none;
    }
    #logo {
        float: left;
        font-size: 1.8em;
    }
    .menu {
        float: right;
        li {
            display: inline;
            margin: 0 15px;
        }
        a {
            font-size: 1.4em;
            margin: 10px 0;
            padding: 2px 0;
            &.active {
                border-bottom: 2px solid $wgu-text-blue;
            }
        }
    }
}


#side-menu {
    a {
        font-size: 1.4em;
        text-decoration: none;
        padding: 7px 10px;
        border-radius: 2px;
        display: inline-block;
        &.active {
            background-color: $wgu-text-blue;
            color: white;
        }
    }
}

.comp-units {
    overflow: hidden;
    display: inline-block;
    border: 1px solid lighten($wgu-text-blue, 40%);
    border-radius: 1em;
    text-align: center;
    background-color: lighten($wgu-text-blue, 50%);
    color: $wgu-blue;
    margin-right: 20px;
    .comp-header {
        display: inline-block;
        background-color: lighten($wgu-text-blue, 10%);
        margin: 0;
        color: white;
        padding: 5px 10px;
        p {
            margin: 0;
        }
    }
    p {
        span {
            font-size: 0.7em;
        }
        margin: 0;
        font-size: 1em;
        display: inline-block;
        padding: 0 10px;
    }
}

.course-card {
}

.underline-accent {
    &:after {
        content: "";
        padding: 0 0 5px;
        width: 30px;
        display: block;
        border-bottom: 2px solid $wgu-text-blue;

    }
}

.more-box {
    h6 {
        @extend .underline-accent;
    }
    ul {
        li {
            margin: 4px 0 0 2px;
        }
    }
    a {
        text-decoration: none;
        font-size: 1.2em;
    }
}

.checked {
    text-align: center;
    span {
        &:after {
            content: '\2714';
            display: block;
            color: green;
            padding: 5px;
        }
    }
}


#degree-picker {
    .form-button {
        margin-bottom: 10px;
        margin-left: 5px;
    }
    li {
        padding: 3px;
        font-size: 1.2em;
        input {
            top: 3px;
        }
    }
}

.course-table {
    width: 100%;
    .table-subheading {
        background-color: rgb(245, 245, 245);
        h6 {
            margin: 20px 0 0;
        }
    }
    tbody {
        padding-bottom: 50px;
    }
    .comp-units {
        margin-left: 2px;
        display: inline-block;
        margin-top: 5px;
        .comp-header {
            padding: 2px 4px;
            font-size: 1.3em;
        }
        p {
            font-size: 1.4em;
            padding: 0 6px 0 4px;
        }
    }
    a {
        display: block;
        margin-left: 3px;
        text-decoration: none;
        font-size: 1.5em;
    }
    .checked {
        font-size: 1.6em;
    }

    table tbody {
        overflow: auto;
        display: block;
    }
}

.table-fixed-head {
    overflow-y: auto;
    height: 85vh;
    border-collapse: collapse;
    th {
        background-color: white;
    }
}



#footer {
    z-index: 0;
    background: rgb(73, 72, 72);
    color: white;
    padding: 20px;
    margin-top: 50px;
    border-top: 1px solid rgb(140, 140, 140);
    a {
        i {
            font-size: 1.4em;
            vertical-align: middle;
            display: inline-block;
            margin-right: 7px;
        }
        color: white;
        text-decoration: none;
    }
    ul {
        margin: 0;
        padding: 0;
        display: flex;
        li {
            flex: 1 100%;
            justify-content: space-around;
            margin: 0;
            padding: 0;
            display: inline;
            a {
                text-align: center;
                display: block;
            }
        }
    }
}