

// bootstrap imports
@import 'bootstrap/bootstrap-grid.scss';
@import 'bootstrap/mixins';

@import 'bootstrap/type';




// custom imports
@import 'variables';
@import 'mixins';

// page imports
@import 'pages/course_list';
@import 'pages/degree_list';


body {
    background: $background-color;
    font-family: $main-font-family;
    margin: 0;
    padding: 0;
    color: $wgu-blue;
    a {
        color: $wgu-text-blue;
    }
}


// utility classes
.clearfix {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}
.clear-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}


// main css
#nav-bar {
    padding: 20px 0;
    background-color: white;
    border-bottom: 7px solid $wgu-blue;
    a {
        color: $wgu-text-blue;
        text-decoration: none;
    }
    #logo {
        float: left;
    }
    .menu {
        float: right;
        li {
            display: inline;
            margin: 0 15px;
        }
        a {
            margin: 10px 0;
            padding: 2px 0;
            &.active {
                border-bottom: 2px solid $wgu-text-blue;
            }
        }
    }
}


#side-menu {
    a {
        text-decoration: none;
        padding: 7px 0;
        display: inline-block;
    }
}