

// bootstrap imports
@import 'bootstrap/bootstrap-grid.scss';
@import 'bootstrap/mixins';

@import 'bootstrap/type';




// custom imports
@import 'variables';
@import 'mixins';

// page imports
@import 'pages/course_list';
@import 'pages/degree_list';


body {
    background: $background-color;
    font-family: $main-font-family;
    margin: 0;
    padding: 0;
    color: $wgu-blue;
    a {
        color: $wgu-text-blue;
    }
}


// utility classes
.clearfix {
    &:after {
        content: "";
        clear: both;
        display: table;
    }
}
.clear-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.hidden {
    display: none;
}


// main css
#nav-bar {
    margin: 0 0 20px;
    padding: 20px 0;
    background-color: white;
    border-bottom: 7px solid $wgu-blue;
    a {
        color: $wgu-text-blue;
        text-decoration: none;
    }
    #logo {
        float: left;
    }
    .menu {
        float: right;
        li {
            display: inline;
            margin: 0 15px;
        }
        a {
            font-size: 0.9em;
            margin: 10px 0;
            padding: 2px 0;
            &.active {
                border-bottom: 2px solid $wgu-text-blue;
            }
        }
    }
}


#side-menu {
    a {
        font-size: 0.8em;
        text-decoration: none;
        padding: 7px 10px;
        border-radius: 2px;
        display: inline-block;
        &.active {
            background-color: $wgu-text-blue;
            color: white;
        }
    }
}


.course-card {
    .comp-units {
        overflow: hidden;
        display: inline-block;
        border: 1px solid lighten($wgu-text-blue, 40%);
        border-radius: 1em;
        text-align: center;
        background-color: lighten($wgu-text-blue, 50%);
        color: $wgu-blue;
        margin-right: 20px;
        box-shadow: 0 0 5px  rgba(40, 40, 40, 0.05);
        .comp-header {
            display: inline;
            background-color: lighten($wgu-text-blue, 10%);
            width: 100%;
            margin: 0;
            color: white;
            padding: 5px 10px;
            font-size: 1em;
            p {
                font-size: 0.6em;
                margin: 0;
            }
        }
        p {
            span {
                font-size: 0.7em;
            }
            margin: 0;
            font-size: 1em;
            display: inline-block;
            padding: 0 10px;
        }
    }
}


.more-box {
    h6 {
        &:after {
            content: "";
            padding: 0 0 5px;
            width: 30px;
            display: block;
            border-bottom: 2px solid $wgu-text-blue;

        }
    }
    a {
        text-decoration: none;
        font-size: 0.8em;

    }
}