{% load sass_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}{% endblock %}</title>
    <link type="text/css" href="{% sass_src 'styles/app.scss' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
</head>
<body>
    <nav id="nav-bar" class="clearfix">
        <div class="container">
            <a id="logo" href="{% url 'course_selector:index' %}">WGU Viewer</a>
            <ul class="menu clear-list">
                <li>
                    {% url 'course_selector:courses' as url %}
                    <a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">
                        Course List
                    </a>
                </li>
                <li>
                    {% url 'course_selector:degrees' as url %}
                    <a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">
                        Degree Programs
                    </a>
                </li>
                <li>
                    {% url 'course_selector:degree-comparer' as url %}
                    <a class="{% if request.path == url %}active{% endif %}" href="{{ url }}">
                        Degree Comparer
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <script type="text/javascript" src="{% static 'js/app.bundle.js' %}"></script>
</body>
</html>