{% extends 'core/base.html'%}
{% block title %}
    Course Listings
{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
            <div id="side-menu" class="col-lg-3">
                <ul class="clear-list">
                {% for course in courses %}
                    <li>
                        <a 
                        data-card-index-link="{{ course.pk }}" 
                        href="#">
                            {{course.name}}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            </div>
            <div class="col-lg-9">
                {% for course in courses %}
                    <div class="course-card hidden" data-card-index="{{ course.pk }}">
                        <h4>
                            {{course.name}}
                        </h4>
                        <div class="comp-units">
                            <div class="comp-header">
                                {{ course.course_number }}
                            </div>
                            <p>{{ course.comp_units }} <span>CUs</span></p>
                        </div>
                        <p class="card-description">{{ course.description }}</p>
                        <div class="more-box">
                            <h6>Degrees requiring this course</h6>
                            <ul class="clear-list">
                                {% for degree in course.degrees.all %}
                                    <li>
                                        <a href="{% url 'course_selector:degrees' %}/{{degree.id}}">
                                            {{ degree.degree_type }} {{ degree.name }}
                                        </a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}