
{% extends 'core/base.html'%}
{% block title %}
    WGU Viewer | Degree Program Comparer
{% endblock %}
{% block content %}
<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div id="degree-picker">
                    <form action="{% url 'course_selector:degree-comparer' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="form-button" type="button" value="Apply">
                        <ul class="clear-list">
                            {% for field in form.degrees %}
                                <li>{{ field }}</li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                {% if table %}
                <table id="degree-table" class="table">
                    <thead>
                        {% for row in table|slice:":1" %}
                        <tr>
                            {% for degree in row %}
                                {% if degree %}
                                    <th>
                                        <a href="{% url 'course_selector:degrees' %}/{{ degree.pk }}">
                                            {{ degree }}
                                        </a>
                                    </th>
                                {% else %}
                                    <th></th>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </thead>
                    <tbody>
                        {% for row in table|slice:"1:" %}
                        {% if row|length <= 2 %}
                            <td>{{ row.all|slice:"0" }}</td>
                        {% endif %}
                        <tr>
                            {% for item in row %}
                                {% if forloop.first %}
                                    <td>
                                    <a href="{% url 'course_selector:courses' %}/{{ item.pk }}">
                                        {{ item.name }}
                                    </a> 
                                    </td>
                                {% elif item == True %}
                                    <td class="checked"><span></span></td>
                                {% else %}
                                    <td></td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
                {% else %}
                    <h6 class="text-align-center">Please choose at least two degrees from the list to see their comparisons</h6>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}