
{% extends 'core/base.html'%}
{% block title %}
    WGU Viewer | Degree Program Comparer
{% endblock %}
{% block content %}
<div id="main-content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div id="degree-picker">
                    <form action="{% url 'course_selector:degree-comparer' %}" method="POST">
                        {% csrf_token %}
                        <input type="submit" class="form-button" type="button" value="Apply">
                        <ul class="clear-list">
                            {% for field in form.degrees %}
                                <li>{{ field }}</li>
                            {% endfor %}
                        </ul>
                    </form>
                </div>
            </div>
            <div class="col-lg-9">
                {% if table_header or table_courses or table_certs %}
                    <div class="table-fixed-head">
                    <table class="course-table table">
                        {% if table_header %}
                            <thead class="">
                                <tr>
                                {% for header_item in table_header %}
                                    {% if header_item %}
                                        <th>
                                            <a href="{% url 'course_selector:degrees' %}/{{ header_item.id }}">
                                                {{ header_item }}
                                            </a>
                                        </th>
                                    {% else %}
                                        <th></th>
                                    {% endif %}
                                {% endfor %}
                                </tr>
                            </thead>
                        {% endif %}
                    {% if table_courses %}
                    {% for table in table_courses %}
                        <tbody>
                            <tr class="table-subheading"><td><h6 class="underline-accent">{{ table.name }}</h6></td></tr>
                            {% for row in table.body %}
                            <tr>
                                {% for item in row %}
                                    {% if item == True %}
                                        <td class="checked"><span></span></td>
                                    {% elif item  == False %}
                                        <td></td>
                                    {% else %}
                                        <td>
                                            <a href="{% url 'course_selector:courses' %}/{{ item.id }}">
                                                {{ item.name }}
                                            </a>
                                            <div class="comp-units">
                                                <div class="comp-header">
                                                    {{ item.course_number }}
                                                </div>
                                                <p>{{ item.comp_units }} <span>CUs</span></p>
                                            </div>
                                        </td>
                                    {% endif %}

                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    {% endfor %}
                        <tbody>
                            <tr class="table-subheading">
                                <td><h6 class="underline-accent">{{ table_certs.title }}</h6></td>
                            </tr>
                            {% for row in table_certs.body %}
                            <tr>
                                {% for item in row %}
                                    {% if item == True %}
                                        <td class="checked"><span></span></td>
                                    {% elif item  == False %}
                                        <td></td>
                                    {% else %}
                                        <td>
                                            <a href="{{ item.link }}">
                                                {{ item.name }}
                                            </a>
                                        </td>
                                    {% endif %}
                                {% endfor %}
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                    </div>
                    {% endif %}
                {% else %}
                    <h6 class="text-align-center">Please choose at least two degrees from the list to see their comparisons</h6>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}