
{% extends 'core/base.html'%}
{% block title %}
    Degree Programs
{% endblock %}
{% block content %}
    <div id="main-content">
        <div class="container">
            <div class="row">
                <div id="side-menu" class="col-lg-3">
                    <ul class="clear-list">
                    {% for school in categorized %}
                        <h6>{{ school.name }}</h6>
                        {% for degree in school.degrees.all %}
                            <li>
                                <a 
                                data-card-index-link="{{ degree.pk }}" 
                                href="#">
                                    {{ degree.degree_type }} {{ degree.name }}
                                </a>
                            </li>
                        {% endfor %}
                    {% endfor %}
                    </ul>
                </div>
                <div class="col-lg-9">
                    {% for degree in degrees %}
                        <div class="course-card" data-card-index="{{ degree.pk }}">
                            <h4>{{ degree.degree_type }} {{ degree.name }}</h4>
                            <p>{{ degree.description }}</p>
                            <p>{{ degree.school }}</p>
                            <a href="{{ degree.link }}">Official WGU Degree Page</a>
                            <div class="row">
                                <div class="more-box col-lg-6">
                                    <h6>Courses Included</h6>
                                    <ul class="clear-list">
                                        {% for course in degree.courses.all %}
                                            <li>
                                                <a href="{% url 'course_selector:courses' %}/{{course.id}}">
                                                    {{ course.name }}
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% if degree.earned_certifications.all %}
                                <div class="more-box col-lg-6">
                                    <h6>Certifications Included</h6>
                                    <ul class="clear-list">
                                        {% for cert in degree.earned_certifications.all %}
                                            <li>
                                                <a href="{{cert.link}}">{{ cert.name }}</a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}